<p-button [text]="true" (onClick)="showAddItem()">
  <span class="material-icons-reg">add</span><span>Add new item</span>
</p-button>
<div class="input-container" *ngIf="isShowAddItem">
  <input class="input" type="text" pInputText placeholder="Name" [(ngModel)]="newItem.name"
    [ngClass]="newItem.name ? '' : 'ng-invalid ng-dirty'" />
  <input class="input" type="text" pInputText placeholder="Code" [(ngModel)]="newItem.code"
    [ngClass]="newItem.code ? '' : 'ng-invalid ng-dirty'" />
  <p-button label="Add" (onClick)="addItem()"></p-button>
</div>
<div *ngFor="let item of items">
  {{item.name}}
</div>