<div class="h-full w-full wrapper">
  <div class="not-found flex justify-center">
    <div class="container flex flex-column justify-center align-items-center w-full">
      <!-- <img class="logo" src="/assets/images/not-found.svg" alt="Not found" /> -->
      <div class="title mt-6">Error</div>
      <div class="text-center mt-2">Oops something went wrong</div>
      <!--TODO uncomment after implementation-->
      <!--      <button (click)="reloadWidget.emit('')" type="button" class="btn btn-secondary mt-4">-->
      <!--        Reset-->
      <!--      </button>-->
    </div>
  </div>
</div>
