<div class="flex flex-column gap-3 lg:gap-6 min-h-screen">
  <!-- <div class="steps mx-auto flex justify-content-between gap-6 lg:w-6" *ngIf="!isMobile">
    <span
      *ngFor="let step of steps; let i = index"
      (click)="goToStep(step, i)"
      [class.active]="isActive(step.route)"
      [class.disabled]="currentStepIndex"
    >
      {{ step.label }}
    </span>
  </div> -->

  <div class="steps flex justify-content-center">
    <h2 class="active">
      {{ steps[currentStepIndex]?.label }}
    </h2>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
