.form-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 25vw;
  justify-content: center;
  gap: 20px;
  align-items: center;
  border-radius: 8px;
  border: black 2px solid;
}
