<div
  class="flex lg:justify-content-between md:justify-content-between sm:justify-content-center flex-wrap w-full flex-column sm:flex-row md:flex-row lg:flex-row gap-3 align-items-center border-y-1 border-primary p-3"
>
  <div class="w-min">
    <p-breadcrumb
      styleClass="max-w-18rem sm:max-w-full p-1 border-none sm:p-3 sm:border-1"
      [model]="breadcrumbItems"
      [home]="home"
    ></p-breadcrumb>
  </div>
  <div class="flex align-items-center gap-3 flex-wrap justify-content-center">
    <p-button
      *ngIf="!isMobile"
      (onClick)="changeProductsView()"
      [text]="true"
      [icon]="isRowsView ? 'pi pi-list' : 'pi pi-th-large'"
    ></p-button>
    <p-button (onClick)="changeFiltersMenuState()" label="Filters"></p-button>
    <div>
      <span class="p-float-label">
        <p-dropdown
          id="count"
          [options]="countOptions"
          optionLabel="label"
          optionValue="value"
          [(ngModel)]="pagination.count"
          (onChange)="onCountChange()"
        ></p-dropdown>
        <label htmlFor="count">
          <span>Show</span>
        </label>
      </span>
    </div>
    <div>
      <span class="p-float-label">
        <p-dropdown
          id="sortBy"
          [options]="sortBy"
          optionLabel="label"
          optionValue="value"
          [(ngModel)]="pagination.sortBy"
          (onChange)="onSortingChange()"
        ></p-dropdown>
        <label htmlFor="sortBy">
          <span>Sort by</span>
        </label>
      </span>
    </div>
  </div>
</div>
<div class="filters-products-container my-4 flex justify-content-center">
  <div [class.filters-layout]="isFiltersOpen">
    <div
      class="filters-container flex flex-column align-items-end absolute top-0 p-4"
      [@openClose]="isFiltersOpen ? 'open' : 'closed'"
    >
      <p-button
        icon="pi pi-times"
        [text]="true"
        (onClick)="changeFiltersMenuState()"
        styleClass="text-white"
      ></p-button>
      <shop-filters-list
        [categoryName]="category"
        [hidden]="!isFiltersOpen"
        (filterApplied)="updateFilters($event)"
        class="w-full"
      ></shop-filters-list>
    </div>
  </div>
  <div
    class="flex gap-4 flex-wrap justify-content-center"
    [ngClass]="{
      ' w-full flex-column products-container': isRowsView && !isMobile
    }"
  >
    <div *ngFor="let product of products">
      <shop-product-container
        [product]="product"
        [isRow]="isRowsView && !isMobile"
      ></shop-product-container>
    </div>
  </div>
</div>
<div *ngIf="products" class="flex flex-column">
  <p-paginator
    [first]="pagination.skip"
    [rows]="pagination.count"
    [totalRecords]="total"
    (onPageChange)="onPageChange($event)"
  ></p-paginator>
  <!-- TODO: test -->
  <div class="flex align-self-center" >
    {{ pagination.skip + 1 }} - {{ pagination.skip + products.length }} of
    {{ total }}
  </div>
</div>
