<div class="breadcrumb-params-container">
  <div class="breadcrumb-container">
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  </div>
  <div class="paginator-filters">
    <p-button (onClick)="changeFiltersMenuState()">Filters</p-button>
    <p-dropdown
      [options]="sortBy"
      optionLabel="label"
      optionValue="label"
      (onChange)="onCountChange()"
    ></p-dropdown>
    <p-paginator
      [first]="skip"
      [rows]="countPerPage"
      [totalRecords]="count"
      (onPageChange)="onPageChange($event)"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{first} - {last} of {totalRecords}"
      [showPageLinks]="false"
    ></p-paginator>
    <p-dropdown
      [options]="countOptions"
      optionLabel="label"
      optionValue="value"
      [(ngModel)]="countPerPage"
      (onChange)="onCountChange()"
    ></p-dropdown>
  </div>
</div>
<div class="filters-products-container my-4">
  <div [class.filters-layout]="isFiltersOpen">
    <div
      class="filters-container flex flex-column align-items-end"
      [@openClose]="isFiltersOpen ? 'open' : 'closed'"
    >
      <p-button
        icon="pi pi-times"
        [text]="true"
        (onClick)="changeFiltersMenuState()"
        styleClass="text-white"
      ></p-button>
      <shop-filters-list
        [categoryName]="category"
        [hidden]="!isFiltersOpen"
        (filterApplied)="updateFilters($event)"
        class="w-full"
      ></shop-filters-list>
    </div>
  </div>
  <!-- TODO: create another component for products rows and cards -->
  <div class="products-container">
    <div
      *ngFor="let product of products"
      (click)="goToProduct(product)"
      class="product"
    >
      <img [src]="product.images[0].smallBody" />
      <div class="data">
        <h2>{{ product.name }}</h2>
        <shop-properties-list
          [template]="template"
          [properties]="getProperties(product)"
          [isProduct]="true"
          [isEditable]="false"
          [isList]="false"
        ></shop-properties-list>
      </div>
      <div class="price-container">
        <ng-container *ngIf="product.discountPrice; else price">
          <span class="discount"
            >{{ product.discountPrice }}{{ product.currency }}</span
          >
          <span class="through-lined-price"
            >{{ product.price }}{{ product.currency }}</span
          >
        </ng-container>
        <ng-template #price>
          <span class="regular-price">
            {{ product.price }}{{ product.currency }}
          </span>
        </ng-template>
        <p-button>Add to Cart</p-button>
      </div>
    </div>
  </div>
</div>
