.filters-products-container {
  background-size: 70px 70px;
  background-position: -19px -19px;
  //background-image: radial-gradient(#b0b0b0 1px, #ffffff 0);

  .filters-layout {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .filters-container {
    width: 320px;
    height: 100vh;
    z-index: 11;
    left: -320px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(12px);
  }
}

.products-container {
  max-width: 1000px;
}

.change-products-view {
  ::ng-deep .p-button {
    color: var(--main-text);
  }
}
