.property-dialog {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .select-type-container {
    display: flex;
    justify-content: space-between;
    width: 550px;
    height: 30px;
    align-items: center;
  }

  .label {
    margin-left: 12px;
  }

  .inputs-container {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-top: 36px;
    align-items: center;
  }

  .checkbox-container {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: space-between;
  }

  .save-button {
    display: flex;
    justify-content: center;
    margin-top: 36px;
  }
}