<div class="template-group-container" *ngIf="!isProduct">
  <div class="property-item">
    <h2>Template: {{template.name}}</h2>
  </div>
  <p-button [text]="true" (onClick)="editTemplate()">
    <span class="material-icons-reg">{{mIcons.edit}}</span>
  </p-button>
</div>
<div *ngFor="let group of groups" class="inputs-wrapper">
  <div class="template-group-container">
    <h3>{{group.name}}</h3>
    <p-button [text]="true" *ngIf="!isProduct" (onClick)="editPropertyGroup(group)">
      <span class="material-icons-reg">{{mIcons.edit}}</span>
    </p-button>
  </div>
  <div *ngFor="let property of group.properties" class="property-container">
    <div class="property-item">
      <h4>{{property.name}}:</h4>
    </div>
    <div class="property-item">
      <span>{{property.value}}</span>
    </div>
    <p-button [text]="true" (onClick)="editProperty(property)">
      <span class="material-icons-reg">{{mIcons.edit}}</span>
    </p-button>
    <p-button [text]="true" *ngIf="!isProduct" (onClick)="deleteProperty(property, group.properties, group.code)">
      <span class="material-icons-outline">{{mIcons.delete}}</span>
    </p-button>
  </div>
  <p-button [text]="true" *ngIf="group && !isProduct" (onClick)="addProperty(group)">
    <span class="material-icons-reg">{{mIcons.add}}</span>
    <span>Add property</span>
  </p-button>
</div>
<p-button [text]="true" *ngIf="!isProduct" (onClick)="addPropertyGroup()">
  <span class="material-icons-reg">{{mIcons.add}}</span>
  <span>Add group</span>
</p-button>