.property-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 400px)) repeat(2, 50px);
  gap: 20px;
  align-items: center;
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.template-group-container {
  display: flex;
  gap: 20px;
  align-items: center;
}