.qwp-field-wrapper {
	padding-left: 5px;
	padding-right: 5px;

	&div[hidden] {
		display: none;
	}

	.qwp-label {
		//color: var(--formField_label_color);
		font-weight: 500;
		//font-size: var(--formField_label_fontSize);
		line-height: 150%;

		span {
			color: #921515;
		}
	}

	.qwp-invalid {
		//background-color: var(--formField_invalid_backgroundColor) !important;
		//outline: var(--formField_invalid_border) !important;
		//border-bottom: var(--formField_invalid_borderBottom) !important;
	}

	&.qwp-disabled {
		.qwp-label {
			//color: var(--form_text_disabled_color);

			span {
				display: none;
			}
		}
	}
}