<div
  *ngIf="passwordForm"
  [formGroup]="passwordForm"
  class="flex flex-column gap-4 lg:w-4"
>
  <div class="flex flex-column gap-2">
    <label>Current Password</label>
    <input pInputText type="password" formControlName="currentPassword" placeholder="Current Password"/>
    <small class="p-error">{{ getErrorMessage("currentPassword") }}</small>
  </div>

  <div class="flex flex-column gap-2">
    <label>New Password</label>
    <input pInputText type="password" formControlName="newPassword" placeholder="New Password"/>
    <small class="p-error">{{ getErrorMessage("newPassword") }}</small>
  </div>

  <div class="flex flex-column gap-2">
    <label>Confirm New Password</label>
    <input pInputText type="password" formControlName="confirmPassword" placeholder="Confirm New Password"/>
    <small class="p-error">
      {{ getErrorMessage('confirmPassword') || (passwordForm.errors?.['passwordMismatch'] ? 'Passwords do not match' : '') }}
    </small>
  </div>

  <div class="p-field p-col-12">
    <button
      pButton
      type="button"
      label="Change Password"
      (click)="changePassword()"
    ></button>
  </div>
</div>
