.tooltip {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: help;
  background-color: #fff;
  border: 1px solid #888;
  border-radius: 50%;
  color: #888;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}