<div class="tools-container">
  <input class="input" type="text" pInputText placeholder="{{lang.placeholders.searchImage}}"
    [(ngModel)]="searchText" />
  <shop-image-uploader (onSave)="saveImage($event)" (onFileChanged)="fileChanged($event)"></shop-image-uploader>
</div>
<div class="images-container">
  <div *ngFor="let image of images" class="image-block">
    <img [src]="image | toBase64" class="image">
    <span class="image-name">{{image.name}}</span>
    <div class="image-overflow">
      <span class="material-icons-outline tool" (click)="deleteImage(image)">{{mIcons.delete}}</span>
      <span class="material-icons-outline tool" (click)="editImage(image)">{{mIcons.edit}}</span>
      <span class="material-icons-outline tool" (click)="selectImage(image)">{{mIcons.check_circle}}</span>
    </div>
  </div>
</div>