<div class="admin-panel">
  <div
    class="admin-menu"
    (mouseenter)="changeMenuState()"
    (mouseleave)="changeMenuState()"
    [@openClose]="isMenuOpen ? 'open' : 'closed'"
    (@openClose.done)="onAnimationEvent($event)"
  >
    <div class="menu-list">
      <!-- <div class="arrow-button">
        <span class="material-icons-reg" [class.menu-closed]="!isMenuOpen" (onHover)="changeMenuState()">{{mIcons.arrow_back}}</span>
      </div> -->
      <div class="menu-list-item" (click)="openCategories()">
        <span class="material-icons-outline">{{ mIcons.category }}</span>
        <span class="menu-list-item-name" *ngIf="isMenuOpen">{{
          lang.buttons.categoryManagement
        }}</span>
      </div>
      <div class="menu-list-item" (click)="openProducts()">
        <span class="material-icons-outline">{{ mIcons.shopping_cart }}</span>
        <span class="menu-list-item-name" *ngIf="isMenuOpen">{{
          lang.buttons.productManagement
        }}</span>
      </div>
      <div class="menu-list-item" (click)="openShipping()">
        <span class="material-icons-outline">local_shipping</span>
        <span class="menu-list-item-name" *ngIf="isMenuOpen">Shipping configuration</span>
      </div>
      <div class="menu-list-item" (click)="openOrders()">
        <span class="material-icons-outline">barcode_reader</span>
        <span class="menu-list-item-name" *ngIf="isMenuOpen">Orders management</span>
      </div>
    </div>
    <div class="menu-list">
      <div class="menu-list-item" (click)="openSettings()">
        <span class="material-icons-outline">{{ mIcons.settings }}</span>
        <span class="menu-list-item-name" *ngIf="isMenuOpen">{{
          lang.buttons.settings
        }}</span>
      </div>
      <div class="menu-list-item" (click)="openHomePage()">
        <span class="material-icons-outline">{{ mIcons.home }}</span>
        <span class="menu-list-item-name" *ngIf="isMenuOpen">Home</span>
      </div>
    </div>
  </div>
  <div class="admin-content">
    <router-outlet></router-outlet>
  </div>
</div>
