<div class="admin-panel">
  <div class="admin-menu">
    <div class="menu-header">Products</div>
    <div class="menu-list">
      <div class="menu-list-item" (click)="openCategories()">
        <span class="material-icons-outline menu-list-item-icon">{{mIcons.category}}</span>
        <span class="menu-list-item-name">{{lang.buttons.categoryManagement}}</span>
      </div>
      <div class="menu-list-item" (click)="openProducts()">
        <span class="material-icons-outline menu-list-item-icon">{{mIcons.shopping_cart}}</span>
        <span class="menu-list-item-name">{{lang.buttons.productManagement}}</span>
      </div>
    </div>
  </div>
  <div class="admin-content">
    <router-outlet></router-outlet>
  </div>
</div>