.steps {
  ::ng-deep p-button {
    border-radius: 8px;
    box-shadow: 0px 0px 3px 0px var(--shadow);
    color: var(--main-text);

    &.active {
      background: #f6f6f6;

      span {
        color: var(--primary-color);
      }
    }

    span {
      color: var(--main-text);
    }
  }
}

.shadow {
  box-shadow: 0px 0px 3px 0px var(--shadow);
}
