<div>
  <div
    class="product-wrapper flex flex-column justify-content-between align-items-center overflow-hidden relative m-3 mx-auto"
    (click)="redirect()"
  >
    <img
      [src]="product.images[0].body"
      class="product-image"
      [alt]="product.name"
    />
    <div
      *ngIf="discountedPercent"
      class="discount-label absolute py-1 px-2 border-round-sm"
    >
      -{{ discountedPercent }}%
    </div>
    <div class="flex flex-column w-full p-3">
      <p class="mt-0 text-xl">{{ product.name }}</p>
      <p class="mt-0 price">
        {{ product.discountedPrice ?? product.price  }} {{ product.currency }}
      </p>
      <div class="flex gap-2">
        <p-button
          (onClick)="addToCart($event)"
          icon="pi pi-shopping-cart"
        ></p-button>
        <shop-favorites-button
          [isFavorite]="isFav$ | async"
          (click)="toggleFavorite($event)"
        ></shop-favorites-button>
      </div>
    </div>
  </div>
</div>
