<ng-container *ngIf="state$ | async as state">
  <app-state-switcher [state]="state">
    <ng-container *appContentState>
      <h2 *ngIf="header" class="text-center text-6xl">{{ header }}</h2>
      <p-carousel
        *ngIf="state?.data.length > 1; else oneItem"
        [value]="state?.data"
        [numVisible]="5"
        [numScroll]="5"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
        verticalViewPortHeight="450px"
        [autoplayInterval]="0"
        [orientation]="isMobile ? 'vertical' : 'horizontal'"
      >
        <ng-template let-product pTemplate="item">
          <shop-product-card [product]="product"></shop-product-card>
        </ng-template>
      </p-carousel>
      <ng-template #oneItem>
        <shop-product-card [product]="state?.data[0]"></shop-product-card>
      </ng-template>
    </ng-container>
    <ng-container *appEmptyState>
      <div></div>
    </ng-container>
  </app-state-switcher>
</ng-container>
