.inputs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-photo-container {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.flex {
  display: flex;
  gap: 12px;
  align-items: center;
}