.inputs-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 190px 1fr;
  gap: 20px;
}

.header-container {
  ::ng-deep .p-button {
    color: var(--main-text);
  }
}

.button-container {
  ::ng-deep .p-button {
    color: var(--main-text);
  }
}
